@media only screen and (max-width: 1200px) { 
  body { font-size: 13px;}

  .hero-text-box h1 { font-size: 38px; }
  .hero-text-box p { font-size: 13px; }

  #arrow-right { width: 30px; }
  #dash, .dash-blur { width: 15px; }

  .btn-con img { width: 45px; }
  .btn-con { margin-top: 30%; }

  /* BRIGHT ORANGE SECTION */

  .side-left {
    min-width: 285px;
    padding: 50px 20px 0px 20px;
  }

  .side-left h2,
  .side-right h2 { font-size: 30px; }

  .side-left p,
  .side-right p { font-size: 13px; }

  /* MELBOURNE SECTION */

  .melbourne h2 { font-size: 30px; }

  .content-left p:first-child { font-size: 15px; }

  .content-left { min-width: auto; }

  .melbourne p { font-size: 13px; }

  .res-side div { margin: 40px 100px 0px 35px; }

  /* WORDS SUCH SECTION */
  .words-such__container { top: 450px; }

  .words-such__content { padding: 60px 115px 70px 5px; }

  .words-such__title { max-width: 700px; }

  .words-such__title h2 { font-size: 50px; }

  .words-such__title img { width: 350px;}
}

@media only screen and (max-width: 1100px) {
  /* BRIGHT ORANGE SECTION */
  .res-side div { margin-right: 30%; }

  /* MELBOURNE SECTION */
  .melbourne { width: 90%; }

  .words-such {
    margin-bottom: 2%;
  }

  /* TAKE ACTION SECTION */
  .take-action h2 { font-size: 30px; }

  input[type=text],
  input[type=email] { width: 165px; }
  input[type=submit] { width: 130px; }

  .this-is-nice .side-right div {
    margin-right: 20%;
    margin-left: 3%;
  }
} 

@media only screen and (max-width: 985px) {
  /* BRIGHT ORANGE SECTION */
  .bright-orange { margin-left: 10px; }
  .res-side div { margin: 20px 20rem 0px 20px; }
  .bright-orange .side-right p { margin-right: 130px; }

  /* WORDS SUCH SECTION */
  .words-such { margin-bottom: 0%; }
  .words-such__container { top: 550px; }

  .words-such__title {
    max-width: 500px;
    height: 250px;
  }
 
  .words-such__title h2 { font-size: 40px; }
  .words-such__title img { width: 250px;}
  .words-such__content {
    padding-top: 30px;
    padding-right: 20px;
  }

  /* THIS IS NICE SECTION */
  .this-is-nice .side-right div { margin-right: 35%; }


  /* FOOTER */
  footer { min-height: 800px; }

  footer p { margin-right: 15%; }

  .link { margin-left: auto; }
} 

@media only screen and (max-width: 850px) {

  /* BRIGHT ORANGE SECTION */
  .bright-orange {
    left: 0;
    top: -22rem;
    margin-left: 0px;
    width: 100%;
  }

  .melbourne { top: -18rem; }

  /* TAKE ACTION SECTION */
  input[type=text],
  input[type=email],
  input[type=submit] {
    display: block;
    width: 505px;
    margin-bottom: 10px;
  }

  .signup {
    width: fit-content;
    margin: 0 auto;
  }

  .words-such__container,
  .take-action,
  .this-is-nice { left: 0; }
}

@media only screen and (max-width: 680px) {
  .side { flex-wrap: wrap; }
  .side-left p,
  .side-left h2 { margin-bottom: 20px; }
  .res-side h2 { margin-right: 5rem; }
  .res-side p { margin-right: 60px; }
  .melbourne { top: -7rem; }

  .main-nav { display: none; }

  .responsive {
    position: fixed;
    display: block;
    background-color: #3A4D69;
    padding: 10rem 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    opacity: 0.9;
    z-index: 1;
  }

  .main-nav li {
    float: none;
    display: block;
    text-align: center;
    margin: auto;
  }

  .responsive a {
    line-height: 2;
    font-size: 25px !important;
  }

  .menu-icon {
    display: block;
    position: fixed;
    cursor: pointer;
    top: 7%;
    left: 7%;
    z-index: 100;
  }

  .menu-icon i {
    color:  #fff;
    font-size: 30px;
  }

  /* MELBOURNE SECTION */
  .contents { flex-wrap: wrap; }

  /* WORDS SUCH SECTION */
  .words-such {
    top: -10rem;
    margin-bottom: 50%;
  }

  .words-such__content { padding-bottom: 200px; }
  .content-child { flex: 1 0 100%; }

  /* THIS IS NICE SECITON */
  .this-is-nice .side-left { padding-right: 55%; }
  .this-is-nice { margin-bottom: 725px; }

  /* TAKE ACTION SECTION */
  input[type=text],
  input[type=email],
  input[type=submit] {
    display: block;
    width: 450px;
    margin-bottom: 10px;
  }

  .take-action { padding: 60px 0; }
}

@media only screen and (max-width: 530px) {
  .words-such { margin-bottom: 80%; }
}