@media only screen and (min-width: 360px) {
  .side-right div {
    /* width: 400px; */
    padding-left: 20px;
    padding-right: 41px;
  }
}


@media only screen and (min-width: 592px) { 
  .menu-icon {
    display: none;
  }

  .main-nav {
    display: block;
    margin-top: 60px;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 40px;
  }

  .hero-text-box {
    width: 405px;
    top: 48%;
  }

  .side-left,
  .side-right div {
    padding-left: 35px;
    padding-right: 35px;
  }

  /* .side-right div {
    width: 780px;
  } */

  .melbourne {
    padding: 0 35px;
  }

  .words-such__title h2 {
    font-size: 60px;
    padding: 80px 40px 60px 15px;
  }

  .words-such__title h2,
  .words-such__title img {
    flex: 1 0 50%;
  }

  input[type=text] {
    margin-right: 5px;
    width: 20%;
  }

  input[type=email] {
    width: 35%;
    margin-right: 5px;
  }

  input[type=submit] {
    width: 18%; 
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .bright-orange-wrapper img {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-text-box {
    top: 30%;
  }

  .bright-orange {
    /* left: 20%; */
    top: 0;
    justify-content: flex-end;
  }

  .bright-orange-wrapper {
    position: relative;
    display: flex;
    transform: translateY(-388px);
    width: max-content; 
    /* left: 5rem; */
  }

   .side {
    flex-wrap: nowrap;
  }

  .bright-orange-wrapper .side-left {
    max-width: 230px;
  }

  .side-right {
    width: 750px;
  }

  .side-right div {
    padding-right: 15rem;
  }

  .side-right p {
    margin: 30px 75px 40px 0px;
  }

  .side-right h2 {
    margin-right: 11rem;
  }

  .contents {
    flex-wrap: nowrap;
  }

  .content-child {
     flex: 1 0 40%;
  }

  .content-left {
    margin-right: 15px;
  }

  .words-such-bg {
    min-height: 800px;
    background-image: url('img/bg2.png');
    background-position: center;
    background-size: cover;
  }

  .words-such__container {
    margin-top: -350px;
    margin-left: 12%;
  }

  .words-such__title {
    max-width: 700px;
  }

  .words-such__title h2 {
    padding: 80px 40px;
  }

  .words-such__content {
    padding: 60px 30px;
  }

  .take-action {
    padding-left: 45px;
    margin-left: 12%;
  }

  .this-is-nice-bg {
    position: relative;
    min-height: 800px;
    background-image: url('img/bg3.png');
    background-position: center;
    background-size: cover;
    margin-left: 12%;
    /* margin-bottom: 525px; */
  }

  .this-is-nice__container {
    margin-left: 12%;
    margin-top: -270px;
  }

  .this-is-nice .side-left {
    min-width: 250px;
  }

  .link {
    margin-left: 12%;
  }

  .link div, 
  footer p {
    padding: 50px 70px 50px 0;
  }

  footer p { 
    margin-right: 35%;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-text-box {
    top: 67%;
  }

  /* .bright-orange {
    left: 10%;
  } */

  .side-left {
    min-width: 320px;
    padding: 70px 40px 0px 40px;
  }

  .melbourne {
    padding: 0 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-text-box {
    left: 9%; 
    top: 64%;
  }

  .hero-text-box h1 {
    font-size: 45px;
  }

  .hero-text-box p {
    font-size: 15px;
  }

  /* .bright-orange {
    left: 5%;
  } */
  .side-left {
    max-width: 355px;
    padding: 70px 45px 0px 45px;
  }

  .side-left h2 {
    font-size: 35px;
  }

  .side-left p {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .melbourne {
    padding: 0 13em;
  }

  .melbourne h2 {
    font-size: 35px;
  }

  .content-left {
    min-width: 600px;
  }

  .content-left p:first-child {
    font-size: 18px;
  }

  .contents p {
    font-size: 14px;
  }

  .content-child {
    font-size: 14px;
    padding: 10px 35px;
  }

  .words-such__container {
    margin-top: -450px;
  }

  .words-such__title {
    max-width: 900px;
  }

  .words-such__title img {
    width: 450px;
  }

  .words-such__title h2 {
    padding: 90px 65px;
  }

  .take-action {
    padding-left: 65px;
  }

  input[type=text] {
    margin-right: 5px;
    width: 195px;
  }

  input[type=email] {
    width: 290px;
    margin-right: 5px;
  }

  input[type=submit] {
    width: 150px; 
  }
}

@media only screen and (min-width: 1920px) {
  .row {
    max-width: 1555px;
  }

  .main-nav li a:link, .main-nav li a:visited {
    font-size: 15px;
  }

  .hero-text-box {
    left: 12%;
    top: 32%;
  }

  .hero-text-box h1 {
    font-size: 60px;
  }

  .hero-text-box p {
    font-size: 18px;
  }
  
  .btn-con img {
    width: 60px;
  }

  .bright-orange-wrapper {
    transform: translateY(-448px);
  }

  .bright-orange-wrapper img {
    width: 900px;
  }
  
  .bright-orange-wrapper .side-right {
    width: 100%;
  }

  .bright-orange-wrapper .side-right div {
    padding-right: 0;
  }

  .bright-orange-wrapper .side-left {
    max-width: 390px;
  }

  .side-left h2 {
    font-size: 45px;
  }

  .side-left p {
    font-size: 18px;
  }

  .melbourne {
    padding: 0 17rem;
  }

  .words-such-bg {
    min-height: 1040px;
  }

  .words-such__container {
    margin-top: -550px;
  }

  .words-such__title {
    max-width: 1100px;
  }

  .words-such__title h2 {
    font-size: 70px;
  }

  .words-such__title img {
    width: 550px;
  }

  .words-such__content {
    padding: 90px 130px 90px 30px;
  }

  .content-child {
    font-size: 16px;
    line-height: 29px;
  }
}