@media all and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .header-top {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
  }

  .main-nav {
    display: block;
    margin-top: 60px;
    margin-left: 10vw;
  }

  .main-nav li {
    display: inline-block;
    margin-right: 40px;
  }

  .hero-text-box {
    width: 405px;
    margin-top: -780px;
  }

  .side-left,
  .side-right div {
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .melbourne {
    padding: 0 12vw;
  }

  .words-such__content {
    padding: 30px 10vw;
  }

  .words-such__title h2 {
    font-size: 60px;
  }

  .words-such__title h2,
  .words-such__title img {
    flex: 1 0 50%;
  }

  input[type=text] {
    margin-right: 5px;
    width: 20%;
  }

  input[type=email] {
    width: 35%;
    margin-right: 5px;
  }

  input[type=submit] {
    width: 18%; 
  }

  .bright-orange-wrapper img,
  .this-is-nice img {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    height: 1080px;
  }

  .hero-text-box h1 {
    font-size: 45px;
  }

  .hero-text-box p {
    font-size: 15px;
  }

  .bright-orange {
    top: 0;
    justify-content: flex-end;
  }

  .bright-orange-wrapper {
    position: relative;
    display: flex;
    transform: translateY(-388px);
    width: max-content; 
  }

  .bright-orange-wrapper img,
  .this-is-nice img {
    height: 388px;
    object-fit: cover;
  }

   .side {
    flex-wrap: nowrap;
  }

  .bright-orange-wrapper .side-left {
    max-width: 25vw;
  }

  .side-left {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .side-left h2 {
    font-size: 35px;
  }

  .side-left p {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .side-right {
    width: 50vw;
  }

  .side-right div {
    padding-left: 40px;
    padding-right: 2vw;
  }

  .side-right p {
    margin: 30px 75px 40px 0px;
  }

  .side-right h2 {
    margin-right: 11rem;
  }

  .melbourne {
    margin-top: -21rem;
  }

  .contents {
    flex-wrap: nowrap;
  }

  .content-child {
     flex: 1 0 40%;
  }

  .content-left {
    margin-right: 15px;
  }

  .words-such-bg {
    min-height: 50vh; 
    background-image: url('img/bg2.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .words-such__container {
    margin-top: -350px;
    margin-left: 12%;
  }

  .words-such__title {
    max-width: 700px;
  }

  .words-such__content {
    padding: 60px 30px;
  }

  .take-action {
    padding-left: 45px;
    margin-left: 12%;
  }

  .this-is-nice-bg {
    position: relative;
    min-height: 800px;
    background-image: url('img/bg3.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 12%;
    /* margin-bottom: 525px; */
  }

  .this-is-nice__container {
    margin-left: 12%;
    margin-top: -270px;
  }

  .this-is-nice .side-left {
    max-width: 25vw;
    min-width: 220px;
  }

  .link {
    margin-left: 12%;
  }

  .link div, 
  footer p {
    padding: 60px 90px 50px 0;
  }

  footer p { 
    margin-right: 35%;
  }
}

@media only screen and (min-width: 1280px) {
  .words-such-bg {
    min-height: 100vh;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-text-box {
    /* left: 9%;  */
    /* top: 64%; */
  }





  .melbourne h2 {
    font-size: 35px;
  }

  .content-left {
    min-width: 600px;
  }

  .content-left p:first-child {
    font-size: 18px;
  }

  .contents p {
    font-size: 14px;
  }

  .content-child {
    font-size: 14px;
    padding: 10px 35px;
  }

  .words-such__container {
    margin-top: -450px;
  }

  .words-such__title {
    max-width: 900px;
  }

  .words-such__title img {
    width: 450px;
  }

  .words-such__title h2 {
    padding: 90px 65px;
  }

  .take-action {
    padding-left: 65px;
  }

  input[type=text] {
    margin-right: 5px;
    width: 195px;
  }

  input[type=email] {
    width: 290px;
    margin-right: 5px;
  }

  input[type=submit] {
    width: 150px; 
  }
}

@media only screen and (min-width: 1920px) {
  .row {
    max-width: 1555px;
  }

  .main-nav li a:link, .main-nav li a:visited {
    font-size: 15px;
  }

  .hero-text-box {
    /* left: 12%; */
    /* top: 30vh; */
  }

  /* .hero-text-box h1 {
    font-size: 60px;
  }

  .hero-text-box p {
    font-size: 18px;
  }
  
  .btn-con img {
    width: 60px;
  } */

  /* .bright-orange-wrapper {
    transform: translateY(-448px);
  } */

  /* .bright-orange-wrapper img {
    width: 50vw;
    height: 448px;
} */
  
  /* .side-right {
    width: 100%;
  } */

  .bright-orange-wrapper .side-right div {
    padding-right: 0;
  }

  .side-left h2 {
    font-size: 45px;
  }

  .side-left p {
    font-size: 18px;
  }

  .words-such__container {
    margin-top: -550px;
  }

  .words-such__title {
    max-width: 1100px;
  }

  .words-such__title h2 {
    font-size: 70px;
  }

  .words-such__title img {
    width: 550px;
  }

  .words-such__content {
    padding: 90px 130px 90px 30px;
  }

  .content-child {
    font-size: 16px;
    line-height: 29px;
  }

  .this-is-nice__container img {
    width: 45vw;
  }
}